* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
  }
  section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}


  /* Nested Non-Specific Class */
.design-one {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  box-shadow: 0 10px rgba(124, 124, 124, 0.534);
  padding: 1.5rem 0;
  border: 1px black solid;

  & .company-logo {
    height: 50px;
  }

  & .navigation {
    display: flex;
    gap: 1rem;
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

 
/* Nested Non-Specific Class */
 .design-two {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4rem;
  width: 100vw;
  box-shadow: 0 10px rgba(170, 92, 92, 0.39);
  padding: 2.5rem 0;
  border: 1px black solid;
  background-color: cornflowerblue;

  & .company-logo {
    height: 70px;
  }

  & .navigation {
    display: flex;
    gap: 4rem;
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

/* Nested Non-Specific Class */
.design-three {
 display: flex;
 justify-content: space-between;
  width: 100vw;
  padding: 0.7rem 10vw;
  gap: 2rem;
  border: 1px black solid;
  background-color: rgb(241, 238, 240);

  & .company-logo {
    height: 80px;
    justify-self: flex-start;
  }

  & > img.company-logo {
    height: 50px;
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 2rem;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: black;
    }
  }
  & > nav.nav-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 3rem;
  }
  }

/* Nested Non-Specific Class */
.design-four {
 display: flex;
 justify-content: space-between;
  width: 100vw;
  padding: 0.7rem 10vw;
  gap: 4rem;
  border: 1px black solid;
  background-color: rgb(98, 235, 143);

  & .company-logo {
    height: 80px;
    justify-self: flex-start;
    gap: 4rem;
  }

  & > img.company-logo {
    height: 80px;
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 3rem;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.5rem;
      color: black;
    }
  }
  & > nav.nav-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
  }
  }


/* Nested Non-Specific Class */
.design-five {
  display: flex;
  justify-content: space-between;
   width: 100vw;
   padding: 0.7rem 10vw;
   gap: 4rem;
   border: 1px black solid;
   background-color: rgb(202, 206, 203);
   
   & .company-logo {
     height: 80px;
     justify-self: flex-start;
     gap: 4rem;
   }
 
   & > img.company-logo {
     height: 80px;
   }

   }
   & nav.nav-icons {
     display: flex;
     align-items: center;
     gap: 2rem;
     font-size: 1.5rem;
     color: black;
   }
  
 